bots/alliance_trucks/ручной бекап сеты/агент на данных компании/_____________________.json
{
  "name": "Добавление документов",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -280,
        360
      ],
      "id": "9050b4ba-58a4-47a5-94bd-2991f623ef95",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1SkqqXdUa2zZOLpwgbLVSzYcVAuJ3miIn",
            "mode": "list",
            "cachedResultName": "товары Альянс Тракс",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1SkqqXdUa2zZOLpwgbLVSzYcVAuJ3miIn"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        200,
        0
      ],
      "id": "d851c617-38ea-499a-95f3-ff0d89391c58",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKlKcMz1rwVXng3V",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        0
      ],
      "id": "b43de78b-ca38-4d15-8e04-0fa79b53ddb0",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKlKcMz1rwVXng3V",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "options": {
          "pineconeNamespace": "products"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        920,
        20
      ],
      "id": "128d26da-8a0e-4ef6-9ab8-915983286266",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "CA12Tfen4KLhWCo4",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        0
      ],
      "id": "54f5dc3e-25ba-4535-8c01-284ede9859ec",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "id": "eaf7be4d-2315-4c0f-a554-fd859f1e6261",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ],
      "id": "76498b12-3799-436a-baee-9a0fafb8dc37",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        840,
        400
      ],
      "id": "be32da71-74b8-4eee-be6c-f0b360b5c263",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "5GDSfwEBdS7D7oN1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Обновление индекса Наличие товаров",
        "height": 420,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        -160
      ],
      "id": "6e109ee9-82e2-411f-adeb-9f2ede212b26",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1mSHhqAge8L89MzgZi3k5D6SB1bJjQKfr",
            "mode": "list",
            "cachedResultName": "о компании + инфо для продаж Альянс Тракс",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1mSHhqAge8L89MzgZi3k5D6SB1bJjQKfr"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        200,
        760
      ],
      "id": "f7203dd6-179b-401b-81a5-535ebb1be2f3",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKlKcMz1rwVXng3V",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        760
      ],
      "id": "83b8fa57-3932-4541-aca0-dd9ebf2e72bd",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKlKcMz1rwVXng3V",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "company",
          "mode": "list",
          "cachedResultName": "company"
        },
        "options": {
          "pineconeNamespace": "company"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        920,
        780
      ],
      "id": "6e0c84fa-bce6-4a9c-928f-4c0dd2f8f2c0",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "CA12Tfen4KLhWCo4",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        760
      ],
      "id": "f997e616-b2d3-47df-886a-0faf71063a41",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        920,
        1060
      ],
      "id": "c14f0c46-72c6-41a5-85ad-01dbd02a2fa9",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1100,
        1160
      ],
      "id": "e721659f-3f9c-4924-83dc-b6f392ccf816",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        840,
        1160
      ],
      "id": "8735a18a-421b-49f7-90cd-17eb9e96bae5",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "5GDSfwEBdS7D7oN1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Обновление индекса О компании",
        "height": 380,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        600
      ],
      "id": "f5cb3eee-a834-4a3d-bb91-81d2ee2cb322",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ef12cf6d-2491-413a-b474-8316429c6f58",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a442f3940d394a628991c7e2a22efb6a1f68221a3985f9fcb19ead0febaa9738"
  },
  "id": "gTHhfoVnWXQWO8gz",
  "tags": []
}